<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather Data</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<h1>Weather Data for <span id="cityName"></span></h1>
<div id="inputContainer">
    <input type="text" id="cityInput" placeholder="Enter city" />
    <button onclick="changeCity()">Change City</button>
</div>
<canvas id="weatherChart" width="600" height="300"></canvas>
<div class="weather-details">
    <table>
        <thead>
        <tr>
            <th colspan="2">Current Extra Weather Data</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Current Humidity:</td>
            <td><span id="humidity"></span>%</td>
        </tr>
        <tr>
            <td>Current Wind Speed:</td>
            <td><span id="windSpeed"></span> m/s</td>
        </tr>
        <tr>
            <td>Current Wind Direction:</td>
            <td><span id="windDirection"></span></td>
        </tr>
        <tr>
            <td>Current Weather:</td>
            <td><img id="weatherIcon" src="" alt="Weather Icon"></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="scripts.js"></script>
</body>
</html>
